
    <h1>All Books</h1>


<% if @books.empty? %>
    <p>nothing here</p>
<% else %>
    <% @books.uniq.each do |book| %>
        <li><%= link_to book.title, book_path(book) %> | <%= book.author %> | <%= book.page_count %></li>
    <% end %>
<% end %>