<h1>HOME</h1>

    <%= link_to "My Page", user_path(current_user) %> |
    <%= link_to "View All Books", books_path %> |
    <%= link_to "Create New Book", new_book_path %> |

    <%= link_to "Create New Comment", new_comment_path %>
